/ footer content
%footer
  .pull-right
    Gentelella - Bootstrap Admin Template by
    %a{:href => "https://colorlib.com"} Colorlib
  .clearfix
/ /footer content
#custom_notifications.custom-notifications.dsp_none
  %ul.list-unstyled.notifications.clearfix{"data-tabbed_notifications" => "notif-group"}
  .clearfix
  #notif-group.tabbed_notifications
